<table>
<tr>
   <td><button onclick="toggle('picture1')">C</button>
      <div id="picture1" style="display:none"> <%= image_tag("C maj.png", :alt => "Guitar Center", :class => "sheetMusicChord") %>
        <audio src="<%= audio_path 'C Maj.mp3'%>" type="audio/mpeg" controls>
            Your browser does not support the audio element.
        </audio>
      </div></td>

      <td><button onclick="toggle('picture2')">G</button>
         <div id="picture2" style="display:none"> <%= image_tag("G maj.png", :alt => "Guitar Center", :class => "sheetMusicChord") %>
           <audio src="<%= audio_path 'G Maj.mp3'%>" type="audio/mpeg" controls>
               Your browser does not support the audio element.
           </audio>
         </div></td>

         <td><button onclick="toggle('picture3')">Am</button>
            <div id="picture3" style="display:none"> <%= image_tag("A min.png", :alt => "Guitar Center", :class => "sheetMusicChord") %>
              <audio src="<%= audio_path 'A Min.mp3'%>" type="audio/mpeg" controls>
                  Your browser does not support the audio element.
              </audio>
            </div></td>

            <td><button onclick="toggle('picture4')">F</button>
               <div id="picture3" style="display:none"> <%= image_tag("F maj.png", :alt => "Guitar Center", :class => "sheetMusicChord") %>
                 <audio src="<%= audio_path 'F Maj.mp3'%>" type="audio/mpeg" controls>
                     Your browser does not support the audio element.
                 </audio>
               </div></td>


</tr>
</table>
<script>

function toggle(id) {
   var element = document.getElementById(id);
    if(element.style.display == "none")
       element.style.display = "block";
    else
       element.style.display = "none";
}

</script>



  <a href="http://localhost:3000/masters/sheetMusic" class="btn btn-info btn-block" id="menu-toggle">Click Me For Sheet Music</a>
<pre>

    <span class="title"> Love Yourself</span>

---------------------------------------------------------------
                     CAPO ON 4th FRET
---------------------------------------------------------------

---------------------------------------------------------------
           TRANSPOSE UP +4 TO PLAY SONG WITHOUT CAPO
---------------------------------------------------------------


[Verse 1]

            C               G          Am
For all the times that you rain on my parade
            Dm               C         G
And all the clubs you get in using my name
              C                   G         Am
You think you broke my heart, oh girl for goodness sake
              Dm            C            G
You think I'm crying, on my own, well I ain't
                   C            G                  Am
And I didn't wanna write a song cause I didn't want anyone thinking I still care
   Dm        C                 G
I don't but, you still hit my phone up
                 C         G              Am
And baby I'll be movin' on and I think you should be somethin'
              Dm         C                 G
I don't wanna hold back, maybe you should know that


[Pre-Chorus]

              Am           F              C
My mama don't like you and she likes everyone
            Am      F                C
And I never like to admit that I was wrong
                 Am          F               C                G
And I've been so caught up in my job, didn't see what's going on
          Am  F            G
And now I know, I'm better sleeping on my own


[Chorus]

             C        G       Am        F
Cause if you like the way you look that much
        C                 G        C
Oh baby you should go and love yourself
           C          G         Am      F
And if you think that I'm still holdin' on to somethin'
C                 G        C
You should go and love yourself


[Verse 2]

             C                 G      Am
But when you told me that you hated my friends
         Dm               C            G
The only problem was with you and not them
          C              G            Am
And every time you told me my opinion was wrong
             Dm             C             G
And tried to make me forget where I came from
                   C            G                  Am
And I didn't wanna write a song cause I didn't want anyone thinking I still care
   Dm        C                 G
I don't but, you still hit my phone up
                 C         G              Am
And baby I'll be movin' on and I think you should be somethin'
              Dm         C                 G
I don't wanna hold back, maybe you should know that


[Pre-Chorus]

              Am           F              C
My mama don't like you and she likes everyone
            Am      F                C
And I never like to admit that I was wrong
                 Am          F               C                G
And I've been so caught up in my job, didn't see what's going on
          Am  F            G
And now I know, I'm better sleeping on my own


[Chorus]

             C        G       Am        F
Cause if you like the way you look that much
        C                 G        C
Oh baby you should go and love yourself
           C          G         Am      F
And if you think that I'm still holdin' on to somethin'
C                 G        C
You should go and love yourself


[Instrumental]

C G Am F
C G C
C G Am F
C G C


[Verse 3]

            C               G          Am
For all the times that you made me feel small
          Dm               C           G
I fell in love, now I feel nothin' at all
        C                 G          Am
I never felt so low when I was vulnerable
        Dm              C              G
Was I a fool to let you break down my walls?


[Chorus]

             C        G       Am        F
Cause if you like the way you look that much
        C                 G        C
Oh baby you should go and love yourself
           C          G         Am      F
And if you think that I'm still holdin' on to somethin'
C                 G        C
You should go and love yourself
             C        G       Am        F
Cause if you like the way you look that much
        C                 G        C
Oh baby you should go and love yourself
           C          G         Am      F
And if you think that I'm still holdin' on to somethin'
C                 G        C
You should go and love yourself

</pre>
  <a href="http://localhost:3000/masters/sheetMusic" class="btn btn-info btn-block" id="menu-toggle">Click Me For Sheet Music</a>
    <a href="https://www.youtube.com/watch?v=t-8A6fclHl8" class="btn btn-info btn-block" id="menu-toggle" target="_blank">Video Tutorial</a>
