<p id="notice"><%= notice %></p>

<h1>Tuners</h1>

<table>
  <thead>
    <tr>
      <th>Tunername</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tuners.each do |tuner| %>
      <tr>
        <td><%= tuner.tunerName %></td>
        <td><%= link_to 'Show', tuner %></td>
        <td><%= link_to 'Edit', edit_tuner_path(tuner) %></td>
        <td><%= link_to 'Destroy', tuner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tuner', new_tuner_path %>
