<p id="notice"><%= notice %></p>

<p>
  <strong>Tunername:</strong>
  <%= @tuner.tunerName %>
</p>

<div class="GuitarTuner">

   <!-- <button onclick="document.getElementById('player').play()">Play</button> -->

    <div id="button1">

        <button onclick="document.getElementById('player1').play()" type="button" class="btn btn-warning">1</button>

    </div>

    <div id="button2">

        <button onclick="document.getElementById('player2').play()"  type="button" class="btn btn-warning">2</button>

    </div>

    <div id="button3">

        <button   onclick="document.getElementById('player3').play()"  type="button" class="btn btn-warning">3</button>

    </div>

    <div id="button4">

        <button  onclick="document.getElementById('player4').play()"   type="button" class="btn btn-warning">4</button>

    </div>

    <div id="button5">

        <button   onclick="document.getElementById('player5').play()"  type="button" class="btn btn-warning">5</button>

    </div>

    <div id="button6">

        <button   onclick="document.getElementById('player6').play()"  type="button" class="btn btn-warning">6</button>

    </div>

</div>




<%= link_to 'Edit', edit_tuner_path(@tuner) %> |
<%= link_to 'Back', tuners_path %>


<audio id="player1" src="<%= audio_path @tuner.mp3_one.url%>"></audio>

<audio id="player2" src="<%= audio_path @tuner.mp3_two.url%>"></audio>

<audio id="player3" src="<%= audio_path @tuner.mp3_three.url%>"></audio>

<audio id="player4" src="<%= audio_path @tuner.mp3_four.url%>"></audio>

<audio id="player5" src="<%= audio_path @tuner.mp3_five.url%>"></audio>

<audio id="player6" src="<%= audio_path @tuner.mp3_six.url%>"></audio>
